<section id="benifits" class="section benifits-area ptb_100"  style="background: rgba(52,58,64,1);">
    <div class="container" *ngIf="img | async as i">
        <div class="row align-items-center wow fadeInUp slow">
            <!-- Welcome Intro Start -->
            <div [ngClass]="{'col-12': showContainer7 || showContainer8,'col-5': !showContainer7 && !showContainer8}" class="">
                <div class="welcome-intro">
                    <div class="mt-4" >
                        <ng-container *ngIf="showContainer1 || showContainer2">
                            <h2 class="text-white text-uppercase" style="">Welcome to</h2>
                            <h2 class="text-color-green text-uppercase" style="">Temsan universe</h2>
                        </ng-container>
                        <ng-container *ngIf="showContainer3 || showContainer4 || showContainer5 || showContainer6">
                            <h3 class="text-white text-uppercase" style="">Welcome to</h3>
                            <h3 class="text-color-green text-uppercase" style="">Temsan universe</h3>
                        </ng-container>
                        <ng-container *ngIf="showContainer7 || showContainer8">
                            <h6 class="text-white text-uppercase" style="">Welcome to</h6>
                            <h6 class="text-color-green text-uppercase" style="">Temsan universe</h6>
                        </ng-container>
                    </div>
                    <div [ngClass]="{'mb-4': showContainer1 || showContainer2 || showContainer3 || showContainer4|| showContainer5,'m-0': showContainer6}"
                         class="text text-white" >
                        <div>
                            <p style="">
                                We are going to develop more technologies while finding
                            </p>
                            <p style="">much efficient ways to design, produce, install and run.</p>
                            <p style="" class="text-color-green">Long live the universe!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-12': showContainer7 || showContainer8,'col-7':!showContainer7 && !showContainer8}" class="mx-auto pt-md-0">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb">
                    <picture>
                        <source type="image/webp" [srcset]="http + i.imgw1">
                        <source type="image/png" [srcset]="http + i.img1">
                        <img [src]="http + i.img1" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="row align-items-center wow fadeInUp slow">
            <!-- Benifits Item -->
            <div [ngClass]="{'col-6':showContainer6,'col-12': showContainer1 || showContainer2 || showContainer3 || showContainer4 || showContainer5}" class="col-sm-6 col-md-6">
                <div class="benifits-item p-3" [ngClass]="{'mat-elevation-z4': showContainer6}">
                    <!-- Benifits Text -->
                    <div [ngClass]="{'float-left': showContainer1 || showContainer2 || showContainer3 || showContainer4 || showContainer5}"
                         class="feature-icon">
                        <picture>
                            <source type="image/webp" [srcset]="http + i.imgw2">
                            <source type="image/png" [srcset]="http + i.img2">
                            <img style="width: 100px;margin-right: 10px;" [src]="http + i.img2" alt="">
                        </picture>
                    </div>
                    <div [ngClass]="{'ml-3': !showContainer7 && !showContainer6 && !showContainer8}" class="benifits-text">
                        <h3 [ngStyle]="{'font-size': showContainer7 || showContainer8 ? '16px' : ''}" class="mb-2"><span class="text-color-green text-uppercase">WASTE</span> <br>Collection</h3>
                        <a href="#" class="text-color-green">click to see all products & solutions</a>
                        <p>in waste collection process</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div [ngClass]="{'col-6':showContainer6,'col-12': showContainer1 || showContainer2 || showContainer3 || showContainer4 || showContainer5}"s
              class="col-sm-6 col-md-6">
                <div class="benifits-item p-3" [ngClass]="{'mat-elevation-z4': showContainer6}">
                    <div class="feature-icon"
                         [ngClass]="{'float-left': showContainer1 || showContainer2 || showContainer3 || showContainer4 || showContainer5}">
                        <picture>
                            <source type="image/webp" [srcset]="http + i.imgw3">
                            <source type="image/png" [srcset]="http + i.img3">
                            <img style="width: 100px;margin-right: 10px;" [src]="http + i.img3" alt="">
                        </picture>
                    </div>
                    <!-- Benifits Text -->
                    <div [ngClass]="{'ml-3': !showContainer7 && !showContainer8 && !showContainer6}" class="benifits-text">
                        <h3 [ngStyle]="{'font-size': showContainer7 ? '16px' : ''}" class="mb-2"><span class="text-color-green text-uppercase">Dust</span> <br>Collection</h3>
                        <a href="#" class="text-color-green">click to see all products & solutions</a>
                        <p>in dust collection process</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
