<section id="benifits" class="section benifits-area ptb_100"  style="background: rgba(52,58,64,1);">
    <div class="container">
        <div class="row align-items-center wow fadeInUp slow">
            <!-- Welcome Intro Start -->
            <div class="col-5">
                <div class="welcome-intro">
                    <div class="mt-4" >
                        <h2 class="text-white text-uppercase" style="font-family: 'Jost-SemiBold', sans-serif;">Welcome to</h2>
                        <h2 class="text-color-green text-uppercase" style="font-family: 'Jost-SemiBold', sans-serif;">Temsan universe</h2>
                    </div>
                    <div class="text text-white mt-4">
                        <div>
                            <p style="font-family: 'Jost-SemiBold', sans-serif;">
                                We are going to develop more technologies while finding
                            </p>
                            <p style="font-family: 'Jost-SemiBold', sans-serif;">much efficient ways to design, produce, install and run.</p>
                            <p style="font-family: 'Jost-SemiBold', sans-serif;" class="text-color-green">Long live the universe!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-auto pt-md-0">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb">
                    <img style="width: 120%;max-width: 120%" src="./assets/temsanair/temsan_universe.png" alt="">
                </div>
            </div>
        </div>
        <div class="row align-items-center wow fadeInUp slow">
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-6">
                <div class="benifits-item p-3">
                    <!-- Benifits Text -->
                    <div class="feature-icon float-left">
                        <img style="width: 100px;" src="./assets/temsanair/waste_collection.png" alt="">
                    </div>
                    <div class="benifits-text ml-3 float-left">
                        <h3 class="mb-2"><span class="text-color-green">WASTE</span> <br>Collection</h3>
                        <a href="#" class="text-color-green">click to see all products & solutions</a>
                        <p>in waste collection process</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-6">
                <div class="benifits-item p-3">
                    <div class="feature-icon float-left">
                        <img style="width: 100px;" src="./assets/temsanair/dust_collection.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text ml-3  float-left">
                        <h3 class="mb-2"><span class="text-color-green">Dust</span> <br>Collection</h3>
                        <a href="#" class="text-color-green">click to see all products & solutions</a>
                        <p>in dust collection process</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
