<section class="section about-app-area ptb_100" id="about-app">
    <div class="shapes-container">
        <div class="shape-1"></div>
    </div>
    <div class="container wow fadeInUp slow" >
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <!-- About Text -->
                <div class="about-text">
                    <!-- Headings -->
                    <div class="headings d-flex align-items-center mb-4">
                        <span class="text-uppercase d-none d-sm-block">About</span>
                        <h2 class="text-capitalize">WHAT<span class="ml-2 text-color-green">TEMSAN IS?</span>WHAT<span class="ml-2 text-color-green">TEMSAN IS NOT?</span></h2>
                    </div>
                    <p class="my-3">The major aim is to ensure that your textile mill produces at the highest efficiency. As one of the biggest manufacturers we offer complete process solution in textile humidification system, highest reliability for efficiently performance, energy saving and quality of your mill.</p>
                    <p class="d-none d-sm-block my-3">Since 1960 we combine the Know-How concept and dedication to follow the cutting edge technologies to provide flawless humidification systems. Thanks to our agencies all over the world, we are just next to you, resulting with effective and quick service solutions.</p>
                    <button mat-button (click)="onLink()" class="text-color-green">click to read more..</button>
                    <!-- Store Buttons -->
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- About Thumb -->
                <div class="about-thumb text-center d-none d-lg-block">
                    <img src="assets/temsanair/about_temsan.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
