<section class="section about-app-area ptb_100" id="about-app">
    <div class="shapes-container">
        <div class="shape-1"></div>
    </div>
    <div class="container" style="position: relative;z-index: 1;">
        <ng-container *ngIf="showContainer1">
            <h2 class="text-capitalize text-white text-center mb-4">{{'about_title'| translate}}<span class="ml-2 text-color-green text-capitalize">{{'company' | translate}}</span> </h2>
        </ng-container>
        <ng-container *ngIf="showContainer2 || showContainer3 || showContainer4 || showContainer5 || showContainer6">
            <h2 class="text-capitalize text-white text-center mb-4">{{'about_title'| translate}}<span class="ml-2 text-color-green text-capitalize">{{'company' | translate}}</span></h2>
        </ng-container>
        <div class="row">
            <div class="col-md-4 col-6 wow fadeInUp mb-3">
                <div class="mat-elevation-z4 p-4" style="color: #fff; background-color: #1B1A1E">
                    <div>{{'text' | translate}}</div>
                </div>
            </div>
            <div class="col-md-4 col-6 wow fadeInDown mb-3">
                <div class="mat-elevation-z4 p-4" style="color: #fff; background-color: #1B1A1E">
                    <div>{{'text1' | translate}}</div>
                </div>
            </div>
            <div class="col-md-4 col-12 wow fadeInUp">
                <div class="mat-elevation-z4 p-4" style="color: #fff; background-color: #1B1A1E">
                    <div>{{'text2' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row align-items-center">
        <div class="info-chart m-auto wow fadeInUp" style="border-radius: 50%; width: 500px;height: 500px;border: 1px solid orange;position: relative">
            <div class="first-detail1" style="position: absolute;top: 10%;width: 50px; height: 50px; border-radius: 50%;background-color: orange;left: 9%;"></div>
            <div class="first-detail1" style="position: absolute;top: 12%;left: -12%;color: #fff;">6 лет работы</div>
            <div class="first-detail2" style="position: absolute;top: 10%;width: 50px; height: 50px; border-radius: 50%;background-color: orange;left: 80%;"></div>
            <div class="first-detail1" style="position: absolute;top: 12%;right: -9%;color: #fff;">140 фабрик</div>
            <div class="first-detail3" style="position: absolute;top: 50%;width: 50px; height: 50px; border-radius: 50%;background-color: orange;left: 95%;"></div>
            <div class="first-detail1" style="position: absolute;top: 52%;right: -40%;color: #fff;">30 % ткацкие проекты</div>
            <div class="first-detail4" style="position: absolute;top: 80%;width: 50px; height: 50px; border-radius: 50%;background-color: orange;left: 81%;"></div>
            <div class="first-detail1" style="position: absolute;top: 82%;right: -31%;color: #fff;">70% прядильное проекты</div>
            <div class="first-detail5" style="position: absolute;top: 81%;width: 50px; height: 50px; border-radius: 50%;background-color: orange;left: 10%;"></div>
            <div class="first-detail1" style="position: absolute;top: 83%;left: -34%;color: #fff;">бригада из 30 монтажников</div>
            <img src="./assets/temsanair/chart-center.png" matTooltip="{{'Ремонтные работы фабрик более 200 проектов' | translate}}" style="position:absolute;top: 22%;left: 29%;" alt="">
<!--            <div class="center-detail" style="position: absolute;top: 50%;width: 200px; height: 200px; border-radius: 50%;background-color: orange;left: 50%;"></div>-->
        </div>
<!--        <div class="col-6">-->
<!--            <h2 class="text-color-green text-uppercase">{{'6_years_of_work' | translate}},</h2>-->
<!--            <h2 class="text-color-green text-uppercase">{{'140_factories_team_of_30_ins'| translate}}</h2>-->
<!--        </div>-->

<!--        <div class="col-6" id="chart">-->
<!--&lt;!&ndash;            <div class="m-auto wow fadeInUp" style="width: 600px !important;height: 600px !important;">&ndash;&gt;-->
<!--&lt;!&ndash;                <canvas id="myChart"></canvas>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
    </div>
</div>
