<section class="section download-area ptb_100">
    <!-- Shapes Container -->
    <div class="shapes-container d-none d-sm-block">
        <div class="shape-2"></div>
        <div class="shape-3"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Download Text -->
                <div class="download-text text-center wow fadeInUp" *ngIf="img | async as i">
                    <picture>
                        <source type="image/webp" [srcset]="http + i.imgw1">
                        <source type="image/jpg" [srcset]="http + i.img1">
                        <img class="mat-elevation-z4" [src]="i.img1" style="width: 80%;margin-bottom: 20px;" alt="">
                    </picture>
                    <picture>
                        <source type="image/webp" [srcset]="http + i.imgw2">
                        <source type="image/png" [srcset]="http + i.img2">
                        <img [src]="i.img2" alt="">
                    </picture>
                    <p class="my-3" style="font-size: 1.5vw">It’s not about the technology,</p>
                    <p class="d-none d-sm-block my-3 text-color-green" style="font-size: 1.5vw">It’s about intelligence</p>
                    <!-- Store Buttons -->
                </div>
            </div>
        </div>
    </div>
</section>
