<section id="features" class="section features-area ptb_100">
    <div class="shapes-container">
        <div class="shape bg-shape"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-6 wow slow fadeInLeft">
                <div class="features-text">
                    <!-- Headings -->
                    <div class="headings align-items-center">
                        <div class="float-left" style="width: 20%">
                            <img src="./assets/temsanair/title_ac_unit.png" alt="">
                        </div>
                        <div class="float-right" style="width: 80%;">
                            <img src="./assets/temsanair/ac_unit.png" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p class="text-color-green text-features" style="font-size: 1.5vw">Designed to perform, built for efficiency.
                        <br> <span style="color: #fff">Lasting solutions,</span>
                        <br> <span style="color: #fff">combining engineering and</span>
                        <br> <span style="color: #fff">process knowledge.</span>
                    </p>
                    <a href="" class="text-color-green">
                        click to see components..
                    </a>
                    <!-- Counter List -->
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-5 offset-lg-1 wow fadeInRight slow">
                <!-- Featured Items -->
                <div class="featured-items" style="margin-top: -100px;">
                    <ul>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-3">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_1.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Ring</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-3">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_2.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Open - end</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-3">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_3.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Weaving</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-3">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_4.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Knitting</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-3">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_3.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Vortex</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!-- Single Features Item -->
                            <div class="single-features media p-3">
                                <!-- Features Title -->
                                <div class="features-title mr-3">
                                    <img src="assets/img/icon_1.svg" alt="">
                                </div>
                                <!-- Features Text -->
                                <div class="features-text media-body">
                                    <h3>Nonwoven</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, adipisci.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
