<section id="features" class="section features-area ptb_100">
    <div class="shapes-container">
        <div class="shape bg-shape"></div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 wow fadeInLeft">
                <div class="features-text" style="position: relative">
                    <!-- Headings -->
                    <div class="headings align-items-center" *ngIf="img | async as i">
                        <div [ngStyle]="{'top': showContainer7 || showContainer8 ? '0' : '20%'}"
                             style="width: 12%;position: absolute;left: 10%;">
                            <picture>
                                <source type="image/png" [srcset]="http + i.img1">
                                <img [src]="i.img1" alt="">
                            </picture>
                        </div>
                        <div class="" style="width: 70%;margin: auto">
                            <picture>
                                <source type="image/webp" [srcset]="http + i.imgw2">
                                <source type="image/png" [srcset]="http + i.img2">
                                <img [src]="i.img2" alt="">
                            </picture>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div [ngStyle]="{'position': showContainer7 || showContainer8 ? '' : 'absolute'}"
                         [ngClass]="{'text-center': showContainer7 || showContainer8}"
                         class="features-img" style="bottom: 50px;right: 30px;">
                        <p class="text-color-green text-features" style="font-size: 14px">Designed to perform, built for
                            <br> <span style="color: #fff"><span class="text-color-green">efficiency</span>. Lasting solutions,</span>
                            <br> <span style="color: #fff">combining engineering and</span>
                            <br> <span style="color: #fff">process knowledge.</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2" [ngClass]="{'p-0' : showContainer7 || showContainer8}">
                        <div class="features-headers">
                            <h4 class="text-uppercase text-center wow fadeInLeft">Ring</h4>
                        </div>
                    </div>
                    <div class="col-2" [ngClass]="{'p-0' : showContainer7 || showContainer8}">
                        <div class="features-headers">
                            <h4 class="text-uppercase text-center wow fadeInLeft">Open-End</h4>
                        </div>
                    </div>
                    <div class="col-2" [ngClass]="{'p-0' : showContainer7 || showContainer8}">
                        <div class="features-headers">
                            <h4 class="text-uppercase text-center wow fadeInLeft">Weaving</h4>
                        </div>
                    </div>
                    <div class="col-2" [ngClass]="{'p-0' : showContainer7 || showContainer8}">
                        <div class="features-headers">
                            <h4 class="text-uppercase text-center wow fadeInRight">Knitting</h4>
                        </div>
                    </div>
                    <div class="col-2" [ngClass]="{'p-0' : showContainer7 || showContainer8}">
                        <div class="features-headers">
                            <h4 class="text-uppercase text-center wow fadeInRight">Vortex</h4>
                        </div>
                    </div>
                    <div class="col-2" [ngClass]="{'p-0' : showContainer7 || showContainer8}">
                        <div class="features-headers">
                            <h4 class="text-uppercase text-center wow fadeInRight">Nonwoven</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
