<section class="section work-area ptb_100">
    <!-- Work Slider Wrapper -->
    <div class="work-wrapper d-none d-md-block">
        <div class="work-slider-wrapper" data-aos="zoom-in">
            <!-- Work Slider -->
            <ul class="work-slider owl-carousel">
                <li class="slide-item">
                    <img class="w-100" style="height: 430px" src="./assets/temsanair/img_00.jpg" alt="">
                </li>
                <li class="slide-item">
                    <img class="w-100" style="height: 430px" src="./assets/temsanair/img_02.jpg" alt="">
                </li>
                <li class="slide-item">
                    <img class="w-100" style="height: 430px" src="./assets/temsanair/img_03.png" alt="">
                </li>
                <li class="slide-item">
                    <img class="w-100" style="height: 430px" src="./assets/temsanair/img_04.png" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center d-md-none">
            <!-- Section Heading -->
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Few steps to Setup</h2>
                    <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                    <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p>
                </div>
            </div>
        </div>
        <!-- Work Content -->
        <div class="row justify-content-end justify-content-lg-between work-content" id="work-slider-pager">
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item active">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block p-4" style="height: 390px;">
                        <h3 class="mb-2"><span class="text-color-green">TEMSAN</span>
                            DISCIPLINE
                        </h3>
                        <p>It is the discipline; what brings perfection. As Temsan, we are truly dedicated to bringing our products on time, above the expected quality with a maximized efficiency. Each and every segment of our employees embrace this notion and work within a totally disciplined way. It is not obligatory, it is within our soul. We live, work, communicate and manufacture in this way.</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block p-4" style="height: 390px;">
                        <h3 class="mb-2"><span class="text-color-green">WE ARE</span>
                            EFFICIENT
                            TOGETHER
                        </h3>
                        <p>Our relation with the concept of efficiency can be described with the word ‘Obsession'. Each and every step we take is focused on quality are accompanied with efficiency. But is that enough?</p>
                        <p>
                            Efficiency cannot be achieved alone. We are only efficient when we act together.
                        </p>
                        <p>
                            It all depends to actions of all players in this game. We design, manufacture, install our products and cooperate with our clients to run them in the most efficient way. This is about the future of sustainability. This is about our core values.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block p-4" style="height: 390px;">
                        <h3 class="mb-2"><span class="text-color-green">BETTER</span>
                            TOGETHER
                        </h3>
                        <p>This notion is our priority. That is why we value to be on your side. After installing our products to your facility, our team delivers an on-site education for your employees to get the maximum of your Temsan product. Our after sales team regularly visits your site for maintenance and update educations. We love our products running in maximum efficiency. We love being together, because it is better together.</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="#" class="pager-item">
                    <!-- Single Work -->
                    <div class="single-work d-inline-block p-4" style="height: 390px;">
                        <h3 class="mb-2"><span class="text-color-green">Automation</span> Control</h3>
                        <p>Automation control and fast solutions with remote conneciton</p>
                        <p>Periodic customer visits</p>
                        <p>Reliable and original spare parts</p>
                        <p>Fast service</p>
                        <p>Optimum Design</p>
                        <p>Energy-saving</p>
                        <p>High Efficiency</p>
                        <p>High Efficiency</p>
                        <p>Long life</p>
                        <p>Cheap Maintenance Cost</p>
                        <p>Easy to Use</p>
                        <p>After sales services</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
