    <div class="london bg-dark">
        <app-scrollup></app-scrollup>
        <div class="all-area">
            <app-header-two></app-header-two>
            <ngx-slick-carousel class="carousel about-us"
                                #slickModal="slick-carousel"
                                [config]="slideConfig"
                                (init)="slickInit($event)">
                <div ngxSlickItem class="p-0 m-0" *ngFor="let img of aboutImgs | async">
                    <div class="main-slide">
                        <img class="w-100" [src]="'./assets/temsanair/'+img">
                        <div class="container wow fadeInUp" style="position:absolute;top:30%;left:10%;align-items:center;z-index: 1">
                            <div class="row align-items-center mb-2">
                                <div class="col-1">
                                    <img src="./assets/temsanair/i_about_us.png" alt="">
                                </div>
                                <div class="col-3">
                                    <h3> ABOUT <span style="" class="text-color-green">TEMSAN</span></h3>
                                </div>
                                <div class="col-8">
<!--                                    <img src="./assets/temsanair/line_title.png" style="height: 1px;width: 100%;" alt="">-->
                                </div>
                            </div>
                        </div>
                        <div class="container wow fadeInUp" style="position:absolute;top:40%;left:10%;align-items:center;z-index: 1">
                            <div class="row">
                                <div class="col">
                                    <div class="headings d-flex align-items-center mb-4">
                                        <h2 class="text-capitalize" style="font-family: 'Roboto',sans-serif;color: #fff;font-weight: 300;">
                                            WHAT<span class="ml-2 text-color-green">TEMSAN IS?</span> <br>
                                            WHAT<span class="ml-2 text-color-green">TEMSAN IS NOT?</span>
                                        </h2>
                                    </div>
                                    <p class="mt-3 mb-1 text" style="color:#fff">
                                        A deeper perspective of our attitude
                                        towards the industry, <br>
                                        human empowerment, quality, discipline and
                                        more... Read further <br> to see how we exist,
                                        and why we do...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
                            <!--            <div #element class="parallax-img">-->
<!--                <div class="container wow fadeInUp" style="position:relative;top:200px;align-items:center;z-index: 1">-->
<!--                    <div class="row align-items-center mb-2">-->
<!--                        <div class="col-1">-->
<!--                            <img src="./assets/temsanair/i_about_us.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="col-3">-->
<!--                            <h3> ABOUT <span style="" class="text-color-green">TEMSAN</span></h3>-->
<!--                        </div>-->
<!--                        <div class="col-8">-->
<!--                            <img src="./assets/temsanair/line_title.png" style="height: 1px;width: 100%;" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <div class="headings d-flex align-items-center mb-4">-->
<!--                                <h2 class="text-capitalize" style="font-family: 'Roboto',sans-serif;color: #fff;font-weight: 300;">-->
<!--                                    WHAT<span class="ml-2 text-color-green">TEMSAN IS?</span> <br>-->
<!--                                    WHAT<span class="ml-2 text-color-green">TEMSAN IS NOT?</span>-->
<!--                                </h2>-->
<!--                            </div>-->
<!--                            <p class="mt-3 mb-1 text" style="color:#fff">-->
<!--                                A deeper perspective of our attitude-->
<!--                                towards the industry, <br>-->
<!--                                human empowerment, quality, discipline and-->
<!--                                more... Read further <br> to see how we exist,-->
<!--                                and why we do...-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <section class="section about-us" style="background: rgba(27,26,30,1);padding: 40px 0;">
                <section>
                    <div class="container-fluid my-4" style="padding-left: 100px;padding-right: 100px;">
                        <div class="shapes-container">
                            <div class="shape-1"></div>
                        </div>
                        <div class="row" style="">
                            <div *ngFor="let h of cardHeader1 | async;let i = index;"
                                 [ngClass]="{'col-9':i==0,'col-3':i==1,'fadeInLeft':i==0,'fadeInRight':i==1}"
                                 class="wow" style="">
                                <h4 class="text-center text-color-green" style="font-family: 'Spartan', sans-serif;font-style: italic;">
                                    {{h}}
                                </h4>
                            </div>
                        </div>
                        <div class="row" style="position:relative;z-index: 1;">
                            <div class="col-3 wow fadeInUp" *ngFor="let c of cards1 | async;let i = index">
                                <div [ngClass]="{'cyan': i == 0, 'red' : i == 1, 'blue' : i == 2, 'orange' : i == 3 }" class="mat-elevation-z2 about-card">
                                    <p *ngIf="c.text1 !=''" class="text-white">
                                        {{c.text1}}
                                    </p>
                                    <p *ngIf="c.text2 !=''">
                                        {{c.text2}}
                                    </p>
                                    <p *ngIf="c.text3 !=''">
                                        {{c.text3}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container" *ngFor="let c2 of cards2 | async; let i = index" style="position: relative;z-index: 1;">
                    <div *ngIf="i==0" class="shapes-container">
                        <div class="shape bg-shape" style="top: 3rem;"></div>
                    </div>
                    <div class="row align-items-center">
                        <div *ngIf="i==0 || i==2" [ngClass]="{'fadeInLeft':i==0|| i==2}"
                             class="col-6 wow">
                            <div class="headings d-flex align-items-center mb-4">
                                <h2 class="text-capitalize">
                                    <span class="ml-2 text-color-green">{{c2.header1}}</span>
                                    {{c2.header2}}
                                </h2>
                            </div>
                            <p class="my-3 text" style="margin-top: 0 !important;">
                                {{c2.text}}
                            </p>
                        </div>
                        <div *ngIf="i==1 || i==3" [ngClass]="{'fadeInLeft':i==1 || i==3}"
                          class="col-6 mx-auto mb-5">
                            <div class="u-layout-col">
                                <div style="border: 21px solid transparent">
                                    <div style="position: relative; flex: 1; max-width: 100%;padding-left: 20px;padding-right: 20px">
                                        <div [ngClass]="{'fadeInLeft':i==1 || i==3,'img-about-2-dark-step-1':i==1,'img-about-img_03-dark-step-1':i==3}" class="img-about-assets-dark-step-1 wow"></div>
                                        <div [ngClass]="{'fadeInLeft':i==1 || i==3,'img-about-2-dark-step-2':i==1,'img-about-img_03-dark-step-2':i==3}" class="img-about-assets-dark-step-2 wow"></div>
                                        <div style="background: rgb(27,26,30);position: relative;">
                                            <img [ngClass]="{'fadeInLeft':i==1 || i==3,'img-about-2':i==1,'img-about-img_03':i==3}" class="mx-auto img-about-assets wow" style="position: relative"
                                                 [src]="'./assets/temsanair/' +c2.img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="i==0 || i==2" [ngClass]="{'fadeInRight':i==0 || i==2}"
                             class="col-6 mx-auto mb-5">
                            <div class="u-layout-col">
                                <div style="border: 21px solid transparent">
                                    <div style="position: relative; flex: 1; max-width: 100%;padding-left: 20px;padding-right: 20px">
                                        <div [ngClass]="{'fadeInRight':i==0 || i==2,'img-about-assets-dark-step-1':i==0,'img-about-img_01-dark-step-1':i==2}" class="wow"></div>
                                        <div [ngClass]="{'fadeInRight':i==0 || i==2,'img-about-assets-dark-step-2':i==0,'img-about-img_01-dark-step-2':i==2}" class="wow"></div>
                                        <div style="background: rgb(27,26,30);position: relative;">
                                            <img [ngClass]="{'fadeInRight':i==0 || i==2,'img-about-assets':i==0,'img-about-img_01':i==2}" class="mx-auto wow" style="position: relative"
                                                 [src]="'./assets/temsanair/' +c2.img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="i==1 || i==3" [ngClass]="{'fadeInRight':i==1 || i==3}"
                             class="col-6 wow">
                            <div class="headings d-flex align-items-center mb-4">
                                <h2 class="text-capitalize">
                                    <span class="ml-2 text-color-green">{{c2.header1}}</span>
                                    {{c2.header2}}
                                </h2>
                            </div>
                            <p class="my-3 text" style="margin-top: 0 !important;">
                                {{c2.text}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container" style="position: relative;">
                    <div class="row align-items-center" *ngFor="let c3 of cards3 | async;let i = index">
                        <div class="col-6 wow fadeInLeft" *ngIf="i==0">
                            <div class="headings d-flex align-items-center mb-4">
                                <h3 class="text-capitalize text-color-green">
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text1}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text2}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text3}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text4}}<br>
                                </h3>
                            </div>
                        </div>
                        <div class="col-6 mx-auto mb-5" *ngIf="i==0">
                            <div class="u-layout-col">
                                <div style="border: 21px solid transparent">
                                    <div style="position: relative; flex: 1; max-width: 100%;padding-left: 20px;padding-right: 20px">
                                        <div class="img-about-img_01-dark-step-1 wow fadeInRight"></div>
                                        <div class="img-about-img_01-dark-step-2 wow fadeInRight"></div>
                                        <div style="background: rgb(27,26,30);position: relative;">
                                            <img class="mx-auto img-about-img_01 wow fadeInRight" style="position: relative"
                                                 [src]="'./assets/temsanair/'+c3.img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mx-auto mb-5" *ngIf="i==1">
                            <div class="u-layout-col">
                                <div style="border: 21px solid transparent">
                                    <div style="position: relative; flex: 1; max-width: 100%;padding-left: 20px;padding-right: 20px">
                                        <div class="img-about-img_03-dark-step-1 wow fadeInRight"></div>
                                        <div class="img-about-img_03-dark-step-2 wow fadeInRight"></div>
                                        <div style="background: rgb(27,26,30);position: relative;">
                                            <img class="mx-auto img-about-img_03 wow fadeInRight" style="position: relative"
                                                 [src]="'./assets/temsanair/'+c3.img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 wow fadeInLeft" *ngIf="i==1">
                            <div class="headings d-flex align-items-center mb-4">
                                <h3 class="text-capitalize text-color-green">
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text1}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text2}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text3}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text4}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text5}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text6}}<br>
                                    <img src="./assets/temsanair/i_list_item.png" style="width: 25px;" alt=""> {{c3.text7}}<br>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <app-footer></app-footer>
        </div>
    </div>

