<div class="london bg-dark">
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-two></app-header-two>
        <app-hero-six></app-hero-six>
        <section class="section about-us ptb_100" style="background: rgba(27,26,30,1)">
            <section style="background: rgb(217,217,217)">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-6 wow fadeInLeft slow" style="padding-left: 100px;">
                            <div class="headings d-flex align-items-center mb-4">
                                <h2 class="text-capitalize" style="font-family: 'Roboto',sans-serif;color: #000;font-weight: 300;">
                                    WHAT<span class="ml-2 text-color-green">TEMSAN IS?</span> <br>
                                    WHAT<span class="ml-2 text-color-green">TEMSAN IS NOT?</span>
                                </h2>
                            </div>
                            <p class="mt-3 mb-1 text" style="color:#000">
                                A deeper perspective of our attitude
                                towards the industry, human
                                empowerment, quality, discipline and
                                more... Read further to see how we exist,
                                and why we do...
                            </p>
                            <h1 style="font-size: 8.125rem;font-weight: 300;margin: 0 auto 0 0;color:#000;">
                                about
                            </h1>
                        </div>
                        <div class="col-6 col-md-6 mx-auto mb-5 wow slow fadeInRight" style="padding-right: 100px;">
                            <div style="position: relative;">
                                <img class="mx-auto" style="position: relative" src="./assets/temsanair/about_temsan.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container my-4">
                    <div class="row align-items-center wow slow fadeInUp">
                        <div class="col-4" style="">
                            <h3 class="u-border-16-left pl-3" style="position: relative;font-family: 'Roboto',sans-serif;font-style: italic">
                                Combining your <br>
                                experience with <br>
                                ours, leads and <br>
                                will lead to <br>
                                perfection.
                            </h3>
                        </div>
                        <div class="col-8" style="">
                            <p class="text" style="font-weight: 300 !important;margin-top: 0 !important;">
                                The major aim is to ensure that your textile mill produces at the highest efficiency. As one of the biggest manufacturers we offer complete process solution in textile humidification system, highest reliability for efficiently performance, energy saving and quality of your mill.
                                <br>
                                Since 1960 we combine the Know-How concept and dedication to follow the cutting edge technologies to provide flawless humidification systems. Thanks to our agencies all over the world, we are just next to you, resulting with effective and quick service solutions.
                                <br>
                                Our project department and R&D center design, develop and improve to answer your special requirements. With the support of our professional development team and collaborations with universities, our design and automation innovations we are always one step ahead. This has already been tested by numerous amount of applications since almost 60 years.
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3 wow slow fadeInUp">
                        <div class="col-4" style="">
                            <h3 class="pl-3 u-border-16-left" style="position: relative;height: 100px;font-family: 'Roboto',sans-serif;font-style: italic">
                                We are not...
                            </h3>
                        </div>
                        <div class="col-8" style="">
                            <p class="text" style="font-weight: 300 !important;margin-top: 0 !important;">
                                - Just a machine manufacturer, but fabric manufacturer at the same time.
                                <br>
                                - A solution partner, but we are a lifetime partner.
                                <br>
                                - Close to you, we are right next to you.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="my-3">
                <div class="parallax-img"></div>
            </div>

            <div class="container" style="position: relative;z-index: 1111;">
                <div class="row align-items-center">
                    <div class="col-6 col-lg-6 wow slow fadeInLeft">
                        <div class="headings d-flex align-items-center mb-4">
                            <h2 class="text-capitalize">
                                WHAT<span class="ml-2 text-color-green">TEMSAN IS?</span>
                                WHAT<span class="ml-2 text-color-green">TEMSAN IS NOT?</span>
                            </h2>
                        </div>
                        <p class="my-3 text">A deeper perspective of our attitude
                            towards the industry, human
                            empowerment, quality, discipline and
                            more... Read further to see how we exist,
                            and why we do...
                        </p>
                    </div>
                    <div class="col-6 col-md-6 mx-auto mb-5 mb-lg-0">
                        <div class="u-layout-col">
                            <div style="border: 21px solid transparent">
                                <div style="position: relative; flex: 1; max-width: 100%;padding-left: 20px;padding-right: 20px">
                                    <div class="img-about-1-dark-step-1 wow fadeInRight delay-1s"></div>
                                    <div class="img-about-1-dark-step-2 wow slow fadeInRight delay-1s"></div>
                                    <img class="mx-auto img-about-1 wow slow fadeInRight delay-1s" style="position: relative" src="./assets/temsanair/about_temsan.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mx-auto mb-5 mb-lg-0" style="margin-top: 75px;">
                        <div class="u-layout-col" style="position: relative;right: 40px;">
                            <div style="border: 21px solid transparent">
                                <div style="position: relative; flex: 1; max-width: 100%;padding-left: 20px;padding-right: 20px">
                                    <div class="img-about-2-dark-step-1 wow fadeInLeft delay-1s"></div>
                                    <div class="img-about-2-dark-step-2 wow slow fadeInLeft delay-1s"></div>
                                    <img class="mx-auto img-about-2 wow slow fadeInLeft delay-1s" style="position: relative" src="./assets/temsanair/img_02.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-6 wow slow fadeInRight delay-1s" style="margin-top: 25px;position: relative;top: 100px;">
                        <div class="headings d-flex align-items-center mb-4">
                            <h2 class="text-capitalize">
                                WE ARE<span class="ml-2 text-color-green">EFFICIENT</span>
                                <span class="ml-2 text-color-green">TOGETHER</span>
                            </h2>
                        </div>
                        <p class="text" style="font-weight: normal !important;">
                            Our relation with the concept of efficiency can be described with the word ‘Obsession'. Each and every step we take is focused on quality are accompanied with efficiency. But is that enough?<br>
                            Efficiency cannot be achieved alone. We are only efficient when we act together. <br>
                            It all depends to actions of all players in this game. We design, manufacture, install our products and cooperate with our clients to run them in the most efficient way. This is about the future of sustainability. This is about our core values.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <app-footer></app-footer>
    </div>
</div>

