<header class="section header-area">
    <div id="appo-header" class="main-header-area nav-white">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light d-flex justify-content-between align-items-center" style="height: 60px;">
                <div class="logo-container">
                    <a class="navbar-brand" mat-button routerLink="/">
                        <img class="logo" src="./assets/temsanair/logo1.png" alt="">
                    </a>
                </div>
                <div>
                    <button [ngClass]="{'position-absolute': !showContainer1 && showContainer2 && !showContainer3 && !showContainer4}"
                            [ngStyle]="{'right': !showContainer1 && showContainer2 && !showContainer3 && !showContainer4 ? '0' : ''}"
                      class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appo-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <button *ngIf="!showContainer1 && !showContainer2 && !showContainer3 && !showContainer4 && !showContainer5" mat-icon-button [matMenuTriggerFor]="menu" (click)="onMenu()">
                        <mat-icon style="color: #fff">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button class="langbtn text-white" [id]="'langbtn_' + langImg.value.toLowerCase()" mat-menu-item *ngFor="let langImg of locale.langs;let idx = index"
                                (click)="locale.switchLanguage(langImg.value)"
                                [class.langBtn]="langImg.value==locale.defaultLang">
                            <img [src]="'./assets/temsanair/lang/'+langImg.value.toLowerCase()+'.png'" style="width: 30px;vertical-align: middle;margin-right: 10px;" alt="">
                            <span>{{ langImg.viewTranslate }}</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="collapse navbar-collapse" id="appo-menu">
                    <ul class="navbar-nav header-items ml-auto">
                        <li class="nav-item" *ngFor="let u of urls; let i = index;">
                            <a style="font-family:'Amazing-Grotesk-Demi',sans-serif; cursor: pointer;"
                               [routerLinkActiveOptions]="{exact: true}"
                               routerLinkActive="active-link" [routerLink]="u.url" (click)="onNavigate(u,i)"
                               class="wow fadeInUp nav-link scroll text-color-green" [id]="'url'+i">
                                {{u.name | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <ng-container *ngIf="!showContainer6 && !showContainer7 && !showContainer8">
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onMenu()">
                        <mat-icon style="color: #fff">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button class="langbtn text-white" [id]="'langbtn_' + langImg.value.toLowerCase()" mat-menu-item *ngFor="let langImg of locale.langs;let idx = index"
                                (click)="locale.switchLanguage(langImg.value)"
                                [class.langBtn]="langImg.value==locale.defaultLang">
                            <img [src]="'./assets/temsanair/lang/'+langImg.value.toLowerCase()+'.png'" style="width: 30px;vertical-align: middle;margin-right: 10px;" alt="">
                            <span>{{ langImg.viewTranslate }}</span>
                        </button>
                    </mat-menu>
                </ng-container>
            </nav>
        </div>
    </div>
</header>
