<header class="section header-area">
    <div id="appo-header" class="main-header-area nav-white">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <div>
                    <a class="navbar-brand" mat-button routerLink="/">
                        <img class="logo" src="./assets/temsanair/logo1.png" alt="">
                    </a>
                </div>
                <div>
                    <button [ngClass]="{'position-absolute': !showContainer1 && showContainer2 && !showContainer3 && !showContainer4}"
                            [ngStyle]="{'right': !showContainer1 && showContainer2 && !showContainer3 && !showContainer4 ? '0' : ''}"
                      class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appo-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="appo-menu">
                    <ul class="navbar-nav header-items ml-auto">
                        <li class="nav-item" *ngFor="let u of urls; let i = index;">
                            <a style="font-family:'Amazing-Grotesk-Demi',sans-serif; cursor: pointer;"
                               [routerLinkActiveOptions]="{exact: true}"
                               routerLinkActive="active-link" [routerLink]="u.url" (click)="onNavigate(u,i)"
                               class="wow fadeInUp nav-link scroll text-color-green" [id]="'url'+i">
                                {{u.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
