<header class="section header-area">
    <div id="appo-header" class="main-header-area nav-white">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <a class="navbar-brand" routerLink="/">
                    <img class="logo" src="./assets/temsanair/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appo-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Appo Menu -->
                <div class="collapse navbar-collapse" id="appo-menu">
                    <!-- Header Items -->
                    <ul class="navbar-nav header-items ml-auto">
                        <li class="nav-item">
                            <a style="font-family: 'Advent Pro', sans-serif;" class="nav-link scroll text-color-green" id="home"
                               routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style="font-family: 'Advent Pro', sans-serif;cursor: pointer" class="nav-link scroll text-color-green" (click)="onAbout()" id="about">About</a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle text-color-green" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                Product range
                            </a>
                            <div class="dropdown-menu mega-menu px-3 px-md-4 py-md-4">
                                <!-- Shapes Container -->
                                <div class="shapes-container d-none d-lg-block">
                                    <div class="shape-1"></div>
                                </div>
                                <div class="row">
                                    <!-- Dropdown Headings -->
                                    <div class="col-lg-3 dropdown-headings d-none d-lg-block">
                                        <h5 class="text-uppercase my-2">Products</h5>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3">
                                        <!-- Single Menu -->
                                        <ul class="single-menu">
                                            <li class="page-title d-inline-block text-uppercase mb-2">Part 1</li>
                                            <li *ngFor="let p of products1">
                                                <a class="dropdown-item" (click)="onNavigate(p)">{{p.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3">
                                        <!-- Single Menu -->
                                        <ul class="single-menu">
                                            <li class="page-title d-inline-block text-uppercase mb-2">Part 2</li>
                                            <li><a class="dropdown-item" href="/theme-nine">Homepage - Italy <span class="badge badge-pill badge-warning ml-1">New</span></a></li>
                                            <li><a class="dropdown-item" href="/about-page">About Us</a></li>
                                            <li><a class="dropdown-item" href="/pricing-page">Pricing Plans</a></li>
                                            <li><a class="dropdown-item" href="/reviews-page">Testimonials</a></li>
                                            <li><a class="dropdown-item" href="/faq-page">FAQ</a></li>
                                            <li><a class="dropdown-item" href="/login">Login</a></li>
                                            <li><a class="dropdown-item" href="/signup">Register</a></li>
                                            <li><a class="dropdown-item" href="/download-page">Download</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3">
                                        <!-- Single Menu -->
                                        <ul class="single-menu">
                                            <li class="page-title d-inline-block text-uppercase mb-2">Part 3</li>
                                            <li><a class="dropdown-item" href="/thank-you">Thank You</a></li>
                                            <li><a class="dropdown-item" href="/reset">Forget Password</a></li>
                                            <li><a class="dropdown-item" href="/newsletter">Newsletter</a></li>
                                            <li><a class="dropdown-item" href="/error-one">Error v1.0</a></li>
                                            <li><a class="dropdown-item" href="/error-two">Error v2.0</a></li>
                                            <li><a class="dropdown-item" href="/contact-page">Contact</a></li>
                                            <li><a class="dropdown-item" href="/maintenance">Maintenance</a></li>
                                            <li><a class="dropdown-item" href="/coming-soon">Coming Soon</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a style="font-family: 'Advent Pro', sans-serif;" class="nav-link scroll text-color-green" href="#features">Product range</a>-->
<!--                        </li>-->
                        <li class="nav-item">
                            <a style="font-family: 'Advent Pro', sans-serif;" class="nav-link scroll text-color-green" href="#pricing">Automation solutions</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="font-family: 'Advent Pro', sans-serif;" class="nav-link dropdown-toggle text-color-green" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown">
                                Contact
                            </a>
                            <!-- Blog Menu -->
                            <div class="dropdown-menu mega-menu blog-menu px-3 py-md-3">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="single-menu">
                                            <li><a class="dropdown-item" href="/blog-two-column">Blog - 2 Column</a></li>
                                            <li><a class="dropdown-item" href="/blog-three-column">Blog - 3 Column</a></li>
                                            <li><a class="dropdown-item" href="/blog-left-sidebar">Blog - Left Sidebar</a></li>
                                            <li><a class="dropdown-item" href="/blog-right-sidebar">Blog - Right Sidebar</a></li>
                                            <li><a class="dropdown-item" href="/blog-details-left-sidebar">Blog Details - Left Sidebar</a></li>
                                            <li><a class="dropdown-item" href="/blog-details-right-sidebar">Blog Details - Right Sidebar</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
