<section id="contact" class="contact-area bg-gray ptb_100" *ngIf="img | async as i">
    <div class="energy_ww wow fadeInUp">
            <div class="energy_w clearfix">
                <div class="row">
                    <div class="col">
                        <div id="img-wow" class="img wow slow fadeInLeft">
                            <picture>
                                <source type="image/webp" [srcset]="http + i.imgw1">
                                <source type="image/jpg" [srcset]="http + i.img1">
                                <img [src]="i.img1" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text" [ngClass]="{'m-0':showContainer5}">
                            <h3 class="text-uppercase">Textile<br>
                                Factories<br>
                                <span class="text-color-green">Going green</span>
                            </h3>
                            <h2 class="text-uppercase">
                                Let’s <br>
                                <span class="text-color-green">Save energy</span>
                            </h2>
                            <p [ngClass]="{'m-0':showContainer5}" class="" style="color:#000;font-family: 'Advent Pro', sans-serif;">
                                Our main focus has always been <br>
                                ‘efficiency that is achieved in high quality’.
                            </p>
                            <a class="text-color-green" href="#">
                                Click to see how we save energy and <br>
                                why we put so much effort on this.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="energy_ww my-5 wow fadeInUp">
        <div class="row align-items-center">
            <div [ngClass]="{'col-6': showContainer5 || showContainer6,'col-7': showContainer3 || showContainer4,'col-8': showContainer1 || showContainer2}" class="energy_w_2 d-flex justify-content-center">
                <div class="text" style="margin-top: 0 !important;">
                    <h3 class="text-uppercase"><span style="color: #666;font-family: 'Advent Thin', sans-serif;">Our corporate</span><br>
                        <span class="text-color-green" style="font-family: 'Jost-MediumItalic',sans-serif;font-style: italic">Social responsibility</span><br>
                        <span class="text-color-green" style="font-family: 'Jost-MediumItalic',sans-serif;font-style: italic">Project</span>
                    </h3>
                    <h2 class="text-uppercase">
                        Let’s save<br>
                        <span class="text-color-green">The world!</span>
                    </h2>
                    <div >
                        <picture>
                            <source type="image/png" [srcset]="http + i.img2">
                            <img class="icon_temper" [src]="i.img2" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-6': showContainer5 || showContainer6,'col-5': showContainer3 || showContainer4 ,'col-4': showContainer1 || showContainer2}" class="">
                <div class="img wow slow fadeInRight">
                    <picture>
                        <source type="image/webp" [srcset]="http + i.imgw3">
                        <source type="image/jpg" [srcset]="http + i.img3">
                        <img [src]="i.img3" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <img src="./assets/temsanair/where.png" alt="">
    </div>
</section>
