<section id="contact" class="contact-area bg-gray ptb_100" *ngIf="img | async as i">

  <div class="d-flex justify-content-center">
    <img class="set-1" [src]="'./assets/temsanair/'+i.image6.img4" >
<!--    <map name="adult-image-1">-->
<!--      <area class="teeth-1"  id="set1-0"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="123,272,78,262,95,79,186,58,187,61,180,72,173,95,174,111,188,102,186,96,189,96,192,89,188,87,193,79,193,61,215,80,206,97,221,121,216,132,231,127,232,120,238,100,270,120,312,174,321,177,300,222,300,233,303,241,294,248,317,281,312,290,285,270,277,274,245,243,241,240,236,241,234,243,230,240,229,227,224,221,208,221,197,209,183,198,179,202,165,201,175,221,157,211,146,226,132,216,120,238,121,267" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-1"  data-maphilight='{"stroke":false,"fillColor":"F57899F57899","fillOpacity":0.6}' coords="310,313,307,306,301,288,288,275,281,274,277,281,271,278,266,278,262,275,248,278,239,272,230,266,234,258,230,250,233,245,237,251,239,247,236,243,239,239,245,239,249,247,255,256,273,270,279,275,282,270,293,272,306,284,316,294,319,301" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-2"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="346,159,307,166,307,170,320,177,299,222,299,232,304,240,295,247,310,269,326,265,340,286,367,300,368,303,372,303,377,292,380,290,381,297,395,300,397,295,405,293,408,290,411,300,427,303,428,303,428,311,426,311,421,319,416,322,413,319,410,320,411,329,410,333,401,342,407,349,409,350,416,355,424,365,427,363,425,357,420,346,427,341,433,343,435,336,435,332,441,332,449,336,457,335,460,332,458,329,461,316,461,311,463,306,467,308,473,306,476,311,483,298,481,293,476,289,475,282,479,278,467,237,452,237,451,218,452,215,452,190,452,188,442,191,443,194,432,174,409,154,394,161" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-3"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="219,190,225,175,237,157,239,148,245,142,251,140,263,140,265,139,310,139,311,145,364,182,363,201,343,221,333,213,329,181,313,177,330,234,295,231,292,174,279,176,282,204,269,220,255,206,267,167,235,193" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-4"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="79,96,86,101,91,108,85,117,78,121,71,123,63,117,58,109,61,101,66,96,72,93" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-5"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="81,73,89,73,96,76,101,82,103,89,102,97,94,100,86,96,79,89,78,79" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-6"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="97,59,104,54,112,55,118,58,120,65,120,71,120,78,118,86,110,83,102,76,94,70,93,66" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-7"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="124,46,132,45,141,43,149,50,147,58,144,67,140,75,133,78,127,69,122,60,119,49" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-8"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="158,77,165,76,172,70,177,63,180,53,179,47,170,44,160,44,152,47,150,55,152,67,154,71" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-9"  data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="181,84,189,83,197,77,203,73,205,67,201,59,193,54,182,55,178,63,177,71" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-10" data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="206,74,216,73,221,78,220,86,217,93,212,100,202,100,196,96,197,86,201,77" shape="poly">-->
<!--      <area class="teeth-1"  id="set1-11" data-maphilight='{"stroke":false,"fillColor":"F57899","fillOpacity":0.6}' coords="218,94,225,93,232,94,236,98,240,105,240,114,236,120,229,124,221,124,213,120,209,113,207,105,211,100" shape="poly">-->
<!--    </map>-->
  </div>
<!--    <div class="row mb-3">-->
<!--        <div class="col-6 m-auto">-->
<!--&lt;!&ndash;            <h4 class="text-uppercase text-color-green text-center mb-3">Temsan Uzbekistan Office</h4>&ndash;&gt;-->
<!--            <div class="wow fadeInLeft">-->
<!--                <img [src]="'./assets/temsanair/'+i.image6.img4" alt="">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
  <ng-container *ngIf="!showContainer6 && !showContainer7">
    <h2 class="text-color-green text-center">{{'our_partners' | translate}}</h2>
    <div class="container" >
        <table mat-table [dataSource]="i.dataSource" style="background-color: #343A40;" class="mat-elevation-z8 w-100">
<!--             Position Column -->
            <ng-container >
                <ng-container matColumnDef="index">
                    <th mat-header-cell [hidden]="true" *matHeaderCellDef style="text-align: center;"> No. </th>
                    <td mat-cell [hidden]="true" *matCellDef="let element" style="text-align: center;"> {{element.index}} </td>
                </ng-container>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="logo">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 200px;"> {{'logo' | translate}} </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <img *ngIf="element.logo !=''" [src]="'./assets/temsanair/partners/'+element.logo"
                         [ngStyle]="{'width': getWidth(element.logo)}"
                         alt="">
                    <img *ngIf="element.logo =='steinemann-logo.png'" [src]="'./assets/temsanair/partners/'+element.logo1"
                         [ngStyle]="{'width': getWidth(element.logo1)}"
                         alt="">
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> {{'link' | translate}} </th>
                <td mat-cell *matCellDef="let element"><a class="text-color-green" target="_blank" href="{{element.link}}">{{element.link}}</a></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="files">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;width: 70px;"> {{'files' | translate}} </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <button mat-icon-button style="width: 60%; !important;" [matMenuTriggerFor]="menu" matTooltip="{{'files' | translate}}"><mat-icon class="text-color-green">folder</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="element.files.length==0" mat-menu-item style="color:#fff">Нет файла</button>
                        <button mat-menu-item style="color:#fff;" *ngFor="let e of element.files" (click)="onFile(e)">{{e.name}}</button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

  </ng-container>
</section>
