<div class="london bg-dark" >
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-two></app-header-two>
<!--        <app-hero-six></app-hero-six>-->
        <div>
            <img src="./assets/temsanair/products/title_product_range2.png" style="width: 100%;margin-top: 120px;" alt="">
        </div>
        <section>
            <div class="container" style="padding-top: 15px; padding-right: 0 !important; padding-left: 0 !important;">
                <ngx-slick-carousel class="carousel"
                                    #slickModal="slick-carousel"
                                    [config]="slideConfig"
                                    (init)="slickInit($event)"
                                    (breakpoint)="breakpoint($event)"
                                    (afterChange)="afterChange($event)"
                                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem  class="slide" *ngFor="let p of products">
                        <div class="product-img-slide mb-1" style="overflow: hidden;">
                            <img class="m-auto" style="width: 50%;" [src]="'./assets/temsanair/products/' +p.img">
                            <div class="icons text-center">
                                <img class="d-inline-block mx-3" src="./assets/temsanair/products/i_after_sales.png" style="width: 80px;" alt="">
                                <img class="d-inline-block mx-3" src="./assets/temsanair/products/i_material_design.png" style="width: 80px;" alt="">
                            </div>
                        </div>
                        <div class="product-text-slide">
                            <h4 class="text-center">
                                <span class="text-color-green">{{p.title}}</span> <br>
                                {{p.sub_title}}
                                <img src="./assets/temsanair/products/bg_detail.png" alt="">
                            </h4>
                            <p class="p-2 font-spartan">
                                {{p.text}}
                            </p>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </section>
        <app-footer></app-footer>
    </div>
</div>
