<div class="london bg-dark" >
    <app-scrollup></app-scrollup>
    <div class="all-area">
        <app-header-two></app-header-two>
<!--        <app-hero-six></app-hero-six>-->
        <div class="product-img">
            <img src="./assets/temsanair/products/title_product_range2.png" style="width: 100%;margin-top: 120px;" alt="">
        </div>
        <div class="d-flex justify-content-center">
            <mat-form-field class="mat-form-list">
                <mat-label style="color: #fff;">Products</mat-label>
                <mat-select [(ngModel)]="currList">
                    <mat-option style="color: #111;" *ngFor="let p of productsList" [value]="p.value" >{{p.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <section>
            <div class="container-fluid">
                <div class="row" style="margin: 0 20px;">
                    <div class="col-7" style="padding-top: 15px; padding-right: 0 !important; padding-left: 0 !important;">
                        <!--                <div class="img-area" style="position: absolute;width: 100vw; height: 48vh;left: 0;top: -96%;"></div>-->
                        <ngx-slick-carousel class="carousel"
                                            [config]="slideConfig"
                                            (init)="slickInit($event)"
                                            (breakpoint)="breakpoint($event)"
                                            (afterChange)="afterChange($event)"
                                            (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem class="slide" [class]="'area'+i" *ngFor="let p of products; let i = index;">
                                <div class="product-img-slide mb-1" style="overflow: hidden">
                                    <img class="float-left demo-trigger" (mouseleave)="onMouseLeave(i)" (mouseenter)="onMouse(i)" [src]="'./assets/temsanair/products/mini/' +p?.img_mini"
                                         [attr.data-zoom] = "'./assets/temsanair/products/'+p?.img"
                                         [id]="'target'+i">
                                    <div class="icons float-right">
                                        <img class="d-block mx-3 mb-1"  src="./assets/temsanair/products/i_after_sales.png" style="width: 80px;position: relative;right: 50px;" alt="">
                                        <img class="d-block mx-3" src="./assets/temsanair/products/i_material_design.png" style="width: 80px;" alt="">
                                    </div>
                                </div>
                                <div class="product-text-slide" [id]="'product' + i">
                                    <h5 class="text-center">
                                        <span class="text-color-green">{{p?.title}}</span> <br>
                                        {{p?.sub_title}}
                                        <img src="./assets/temsanair/products/bg_detail.png" alt="">
                                    </h5>
                                    <p class="p-2 font-spartan">
                                        {{p?.text}}
                                        <span *ngIf="p?.detail1 != ''"><br>{{p?.detail1}}</span>
                                        <span *ngIf="p?.detail2 != ''">{{p?.detail2}} <br></span>
                                    </p>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div class="col-5 img-area" style="padding-top: 15px; position: relative;left: 30px;max-width: 50%;"></div>
                </div>
            </div>
        </section>
        <app-footer></app-footer>
    </div>
</div>
