<div *ngFor="let o of obj | async; let i = index">
  <ng-container *ngIf="idx == i">
  <ngx-ui-loader *ngIf="o == '' || o == null" [loaderId]="'loader-02'"></ngx-ui-loader>
    <div [hidden]="o == '' || o == null" class="fadeIn">
      <button [mat-dialog-close] mat-icon-button style="position: absolute;top: 10px;right: 20px;border: none !important;">
        <mat-icon style="vertical-align: middle;color: #fff;">close</mat-icon>
      </button>
      <h3 class="text-center mb-3 text-white">
        <span class="text-color-green">{{o?.title}}</span> <br>
        {{o?.sub_title}}
      </h3>
      <div class="row">
        <div [ngClass]="{'col-12': showContainer6, 'col-6': !showContainer6,'text-center': showContainer6}"
             class="">
          <img [src]="http + 'products/' + o?.imgw" style="" [ngStyle]="{'width': showContainer6 ? '60%' : '100%'}" alt="">
        </div>
        <div [ngClass]="{'col-12': showContainer6, 'col-6': !showContainer6}" class="">
          <div class="product-dialog-text p-3">
            <h5 class="text-center text-white">
              <span class="text-color-green">{{o?.title}}</span> <br>
                {{o?.sub_title}}
              <img src="./assets/temsanair/bg_detail.png" alt="">
            </h5>
            <p class="px-2 m-0 font-spartan text-white">
              {{o?.text}}
              <span *ngIf="o?.detail1 != ''"><br>{{o?.detail1}}</span>
              <span *ngIf="o?.detail2 != ''">{{o?.detail2}} <br></span>
              <span *ngIf="o?.detail3 != ''">{{o?.detail3}} <br></span>
              <span *ngIf="o?.detail4 != ''">{{o?.detail4}} <br></span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </ng-container>
</div>
