<div class="london bg-dark" >
    <app-scrollup></app-scrollup>
    <div class="all-area automation-solution">
        <app-header-two></app-header-two>
<!--        <app-hero-six></app-hero-six>-->
        <div class="automation-img">
            <div class="container wow fadeInUp" style="position:relative;top:30%;z-index: 1">
                <div class="row align-items-center mb-2">
                    <div class="col-2">
                        <img [src]="http+ 'i_about_us.png'" alt="">
                    </div>
                    <div class="col-4">
                        <h3 *ngIf="showContainer1 || showContainer2 || showContainer3">TEMSAN<span style="" class="text-color-green"> AUTOMATION</span></h3>
                        <h4 *ngIf="showContainer4 || showContainer5">TEMSAN<span style="" class="text-color-green"> AUTOMATION</span></h4>
                        <h5 *ngIf="showContainer6">TEMSAN<span style="" class="text-color-green"> AUTOMATION</span></h5>
                        <h6 *ngIf="showContainer7 || showContainer8">TEMSAN<span style="" class="text-color-green"> AUTOMATION</span></h6>
                    </div>
                    <div class="col-6">
                        <img [src]="http +'line_title.png'" style="height: 1px;width: 100%;" alt="">
                    </div>
                </div>
                <h4 *ngIf="showContainer1 || showContainer2 || showContainer3 || showContainer4 || showContainer5" class="mt-3"><span class="text-color-green font-weight-bold">
                        IT’S NOT ABOUT<br> TECHNOLOGY </span><br> IT’S ABOUT <br> INTELLIGENCE
                </h4>
                <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="mt-3"><span class="text-color-green font-weight-bold">
                        IT’S NOT ABOUT<br> TECHNOLOGY </span><br> IT’S ABOUT <br> INTELLIGENCE
                </h6>
            </div>
        </div>

        <div class="container automation-setting mt-4" style="position: relative;z-index: 99;">
            <div class="row">
                <div class="col-6 mb-2 col-md-3 wow fadeInUp">
                    <div class="about-card-auto text-center mat-elevation-z4">
                        <div>
                            <img src="./assets/temsanair/auto-1.png" style="width: 40%" alt="">
                        </div>
                        <h4 class="text-uppercase">
                            <span class="text-color-green">Chiller</span> <br> Compability
                        </h4>
                    </div>
                </div>
                <div class="col-6 mb-2 col-md-3 wow fadeInUp">
                    <div class="about-card-auto text-center mat-elevation-z4">
                        <div>
                            <img src="./assets/temsanair/auto-2.png" style="width: 40%" alt="">
                        </div>
                        <h4 class="text-uppercase">
                            <span class="text-color-green">Online</span> <br> Connection
                        </h4>
                    </div>
                </div>
                <div class="col-6 mb-2 col-md-3 wow fadeInUp">
                    <div class="about-card-auto text-center mat-elevation-z4">
                        <div>
                            <img src="./assets/temsanair/auto-3.png" style="width: 40%" alt="">
                        </div>
                        <h4 class="text-uppercase">
                            <span class="text-color-green">Automatic</span> <br> air change <br> control
                        </h4>
                    </div>
                </div>
                <div class="col-6 mb-2 col-md-3 wow fadeInUp">
                    <div class="about-card-auto text-center mat-elevation-z4">
                        <div>
                            <img src="./assets/temsanair/auto-4.png" style="width: 40%" alt="">
                        </div>
                        <h4 class="text-uppercase">
                            <span class="text-color-green">Energy</span> <br> saving <br> features
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="automation-etap-1 mt-3 py-4" style="position:relative; z-index:;">
            <div class="shapes-container">
                <div class="shape-1"></div>
            </div>
            <div [ngClass]="{'container-fluid':showContainer3 || showContainer4 || showContainer5 || showContainer6 || showContainer7 || showContainer8,'container': showContainer1 || showContainer2}"
                 [ngStyle]="{'padding-left':showContainer3 || showContainer4 ? '40px': '','padding-right':showContainer3 || showContainer4 ? '40px': ''}" class="" style="">
                <div class="row" *ngIf="cards1 | async as c1">
                    <ng-container *ngIf="showContainer7 || showContainer8">
                        <div class="d-flex justify-content-center wow fadeInUp mb-2" style="position: relative">
                            <div class="mat-elevation-z4 w-50" style="">
                                <picture>
                                    <source type="image/webp" [srcset]="http + c1.imgw">
                                    <source type="image/png" [srcset]="http + c1.img">
                                    <img class="w-100" [src]="http + c1.img" style="background-color: #1B1A1E;border-radius: 3px;" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="col-12 wow fadeInUp">
                            <div class="mat-elevation-z4" style="height: 100%; background-color: #1B1A1E;;padding: 20px;border-radius: 3px;">
                                <h6 class="text-color-green text-center">{{c1.title}}</h6>
                                <p *ngIf="showContainer7 || showContainer8" class="auto-text-1">{{c1.text1}}</p>
                                <p *ngIf="!showContainer7 && !showContainer8" class="auto-text-1">{{c1.text}}</p>
                                <button *ngIf="showContainer7 || showContainer8" mat-raised-button (click)="onRead(c1)"
                                    class="d-flex justify-content-end read-btn"
                                        style="color:#000; !important;background-color: #74C043 !important;position: absolute;bottom: 10px"> Read more
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!showContainer7 && !showContainer8">
                        <div [ngClass]="{'col-12': read.read1 || showContainer7 ||showContainer8,'fadeInRight':read.read1,'col-6': !read.read1,'fadeInLeft': !read.read1}" class="wow">
                            <div class="mat-elevation-z4"  style="height: 100%; background-color: #1B1A1E;;padding: 20px;border-radius: 3px;">
                                <h3 *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="text-color-green text-center">{{c1.title}}</h3>
                                <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="text-color-green text-center">{{c1.title}}</h6>
                                <p *ngIf="showContainer6 || showContainer7 || showContainer8" class="auto-text-1">{{c1.text1}}</p>
                                <p *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="auto-text-1">{{c1.text}}</p>
                                <button *ngIf="showContainer6 || showContainer7 || showContainer8" mat-raised-button (click)="onRead(c1)" class="d-flex justify-content-end read-btn" style="color:#000; !important;background-color: #74C043 !important;position: absolute;bottom: 10px"> Read more</button>
                            </div>
                        </div>
                        <div [ngClass]="{'d-none': read.read1}" class="col-6 wow fadeInRight">
                            <div class="mat-elevation-z4" style="">
                                <picture>
                                    <source type="image/webp" [srcset]="http + c1.imgw">
                                    <source type="image/png" [srcset]="http + c1.img">
                                    <img [src]="http + c1.img" style="background-color: #1B1A1E;border-radius: 3px;" alt="">
                                </picture>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="container-fluid"
             [ngStyle]="{'margin-top': showContainer6 || showContainer7 || showContainer8 ? '' : '200px','margin-bottom': showContainer6 || showContainer7 || showContainer8 ? '80px' : '','padding-left': !showContainer6 && !showContainer7 ? '10px' : '100px','padding-right': !showContainer6 && !showContainer7 ? '10px' : '100px'}"
             style="position:relative;z-index: 99;">
            <div *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="row">
                <div *ngFor="let c2 of cards2 | async;let i = index"
                     [ngClass]="{'col-3':showContainer1,'col-6': (showContainer2 || showContainer3 || showContainer4 || showContainer5),'col-12':showContainer6 || showContainer7 || showContainer8,'mb-2':i<3}"
                     class="wow fadeInDown">
                    <div [ngStyle]="{'bottom': (showContainer6 || showContainer7 || showContainer8) && (i==1 || i==3) ? '0' : ''}"
                         [ngClass]="{'automation-card': i==0 || i==2,'automation-card-2': i==1,'automation-card-4': i==3}"
                         class="mat-elevation-z2">
                        <div>
                            <div class="auto-card-header">
                                <h5 *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="text-uppercase text-center text-white">{{c2.title}}</h5>
                                <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="text-uppercase text-center text-white">{{c2.title}}</h6>
                            </div>
                            <div style="padding: 20px !important;">
                                <p>{{c2.text1}}<br>{{c2.text2}}<br>{{c2.text3}}<br>{{c2.text4}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showContainer6 || showContainer7 || showContainer8">
                <div class="automation-slide owl-carousel">
                    <div *ngFor="let c2 of cards2 | async;let i = index">
                        <div class="mat-elevation-z2" style="height: 215px; background-color: #1B1A1E;border-radius: 3px;">
                            <div class="auto-card-header">
                                <h5 *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="text-uppercase text-center text-white">{{c2.title}}</h5>
                                <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="text-uppercase text-center text-white">{{c2.title}}</h6>
                            </div>
                            <div style="padding: 20px !important;">
                                <p>{{c2.text1}}<br>{{c2.text2}}<br>{{c2.text3}}<br>{{c2.text4}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative;z-index: 99;">
            <div class="shapes-container">
                <div class="shape-2" style="left: 9%"></div>
                <div class="shape-3" style="left: 10%"></div>
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-12">
                        <div class="wow fadeInUp auto-solution-image-1 text-center" style="position: absolute;z-index: 1;">
                            <picture>
                                <source type="image/webp" [srcset]="http +'05.webp'">
                                <source type="image/png" [srcset]="http +'05.png'">
                                <img [src]="http +'05.png'" alt="">
                            </picture>
                            <h3 *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="text-white">
                                <span class="text-color-green">AIRCON SCADA</span> <br>
                                A/C AUTOMATION
                            </h3>
                            <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="text-white">
                                <span class="text-color-green">AIRCON SCADA</span> <br>
                                A/C AUTOMATION
                            </h6>
                        </div>
                        <div class="wow zoomIn auto-solution-image-2 text-center">
                            <picture>
                                <source type="image/webp" [srcset]="http +'01.webp'">
                                <source type="image/png" [srcset]="http +'01.png'">
                                <img [src]="http +'01.png'" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4"
             [ngStyle]="{'padding-right': (showContainer2 || showContainer3 || showContainer6 || showContainer7 || showContainer8) ? '40px' : '100px','padding-left': (showContainer2 || showContainer3 || showContainer6 || showContainer7 || showContainer8) ? '40px' : '100px'}"
             style="position: relative">
            <div class="shapes-container">
                <div class="shape bg-shape"></div>
            </div>
            <div class="row" style="position: relative">
                <div class="wow fadeInUp" *ngFor="let c3 of cards3 |async; let i = index"
                     [ngClass]="{'col-4': showContainer1 || showContainer2 || showContainer3,'col-6': showContainer4 || showContainer5, 'm-auto': (showContainer4 || showContainer5) && i==2, 'col-12': showContainer6 || showContainer7 || showContainer8,'mb-2':showContainer4 || showContainer5 || showContainer6 || showContainer7 || showContainer8}">
                    <div class="automation-card mat-elevation-z2">
                        <div>
                            <div class="auto-card-header">
                                <h5 *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="text-uppercase text-center text-white">{{c3.title}}</h5>
                                <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="text-uppercase text-center text-white">{{c3.title}}</h6>
                            </div>
                            <div style="padding: 20px !important;">
                                <p>
                                    <img [src]="http + 'i_list_item.png'" [ngStyle]="{'width':showContainer6 || showContainer7 || showContainer8 ? '15px': '20px'}" alt=""> {{c3.text1}} <br>
                                    <img [src]="http + 'i_list_item.png'" [ngStyle]="{'width':showContainer6 || showContainer7 || showContainer8 ? '15px': '20px'}" alt=""> {{c3.text2}} <br>
                                    <img [src]="http + 'i_list_item.png'" [ngStyle]="{'width':showContainer6 || showContainer7 || showContainer8 ? '15px': '20px'}" alt=""> {{c3.text3}} <br>
                                    <ng-container *ngIf="c3.text4 !=''">
                                        <img [src]="http + 'i_list_item.png'" [ngStyle]="{'width':showContainer6 || showContainer7 || showContainer8 ? '15px': '20px'}" alt=""> {{c3.text4}} <br>
                                    </ng-container>
                                    <ng-container *ngIf="c3.text5 !=''">
                                        <img [src]="http + 'i_list_item.png'" [ngStyle]="{'width':showContainer6 || showContainer7 || showContainer8 ? '15px': '20px'}" alt=""> {{c3.text5}} <br>
                                    </ng-container>
                                    <ng-container *ngIf="c3.text6 !=''">
                                        <img [src]="http + 'i_list_item.png'" [ngStyle]="{'width':showContainer6 || showContainer7 || showContainer8 ? '15px': '20px'}" alt=""> {{c3.text6}} <br>
                                    </ng-container>
                                    <ng-container *ngIf="c3.text7 !=''">
                                        <img [src]="http + 'i_list_item.png'" [ngStyle]="{'width':showContainer6 || showContainer7 || showContainer8 ? '15px': '20px'}" alt=""> {{c3.text7}}
                                    </ng-container>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4"
             [ngStyle]="{'padding-right': (showContainer2 || showContainer3 || showContainer6 || showContainer7 || showContainer8) ? '40px' : '100px','padding-left': (showContainer2 || showContainer3 || showContainer6  || showContainer7 || showContainer8) ? '40px' : '100px'}"
             style="position:relative;">
            <div class="d-flex justify-content-start align-items-center auto-solution-image-3" style="margin-bottom: 120px">
                <picture>
                    <source type="image/webp" [srcset]="http +'06.webp'">
                    <source type="image/png" [srcset]="http +'06.png'">
                    <img class="mr-2" [src]="http +'06.png'" alt="">
                </picture>
                <h4 *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="text-color-green">
                    ELECTRIC & AUTOMATION PANELS
                </h4>
                <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="text-color-green">
                    ELECTRIC & AUTOMATION PANELS
                </h6>
            </div>
            <div class="row">
                <div [ngClass]="{'col-7': (showContainer2 || showContainer3),'col-6': showContainer1,'col-12': showContainer4}" class="">
                    <div class="row">
                        <div *ngFor="let c4 of cards4 | async;let i = index"
                             [ngClass]="{'col-6': !showContainer7 && !showContainer8,'col-12': showContainer7 || showContainer8,'fadeInUp': i == 0,'fadeInDown': i == 1}"
                             class="wow">
                            <div [ngClass]="{'automation-card-2': i == 0,'automation-card': i == 1}" class="mat-elevation-z2">
                                <div class="auto-card-header">
                                    <h5 *ngIf="!showContainer6 && !showContainer7 && !showContainer8" class="text-uppercase text-center text-white">{{c4.title}}</h5>
                                    <h6 *ngIf="showContainer6 || showContainer7 || showContainer8" class="text-uppercase text-center text-white">{{c4.title}}</h6>
                                </div>
                                <div style="padding: 20px !important;">
                                    <p>{{c4.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{'col-5': (showContainer2 || showContainer3),'col-6': showContainer1 || showContainer4,'col-12': showContainer6 || showContainer7 || showContainer8,'m-auto':showContainer4}" class="wow fadeInRight">
                    <picture>
                        <source type="image/webp" [srcset]="http +'02.webp'">
                        <source type="image/png" [srcset]="http +'02.png'">
                        <img style="position: relative" [ngStyle]="{'left': showContainer6 || showContainer7 || showContainer8 ? '15%' : ''}" [src]="http +'02.png'" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
